In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("tmdb_movies_2021_2025.csv")

##  <b style="color:yellow"> Seven Important Questions to understand dataset

### How big the data is ?

In [10]:
# to get the number of rows and columns pandas provides attribute called shape 
df.shape

(232586, 11)

    232586 rows and 11 columns

### How does the data looks like ?

In [11]:
df.sample(5) # always use sample() instead of head() or tail() bcz it gives the random rows it is best understand the data

,tmdb_id,title,original_title,release_date,genres,vote_average,vote_count,popularity,original_language,overview,poster_url
83313,1099023,Hong Kong Mixtape,Hong Kong Mixtape,2023-01-13,Documentary,0.000,0,0.0832,cn,Political engagement spawned the wildest of wo...,https://image.tmdb.org/t/p/w500/10gI10IRgwsywD...
189029,1621618,The Face under The Face,The Face under The Face,2025-02-02,Drama|Family|Romance,10.000,1,0.0239,en,A SILENT STORY - An aging refugee clown in Par...,https://image.tmdb.org/t/p/w500/qEcdGyF8h9AqXk...
179052,1466579,Billie Eilish Unfiltered,Billie Eilish Unfiltered,2024-12-16,Documentary|Music,6.667,3,0.0960,en,With a style and attitude that defies conventi...,https://image.tmdb.org/t/p/w500/g2hSLqkfe1TfNE...
182415,1515597,Nite Slander VI : Unite at Midnite,Nite Slander VI : Unite at Midnite,2024-12-31,NaN,0.000,0,0.0000,fr,NaN,https://image.tmdb.org/t/p/w500/zpkShA3NRvk5kW...
155225,1281111,Out of the Dark: Cal Calamia,Out of the Dark: Cal Calamia,2024-06-07,Documentary,0.000,0,0.0071,en,A short documentary that takes an intimate loo...,https://image.tmdb.org/t/p/w500/5yhUomGQ1hNXJa...

### What is the datatypes of columns ?

In [13]:
df.info() # returns the number of number of not null values and datatypes of each columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232586 entries, 0 to 232585
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   tmdb_id            232586 non-null  int64
 1   title              232583 non-null  object
 2   original_title     232583 non-null  object
 3   release_date       232586 non-null  object
 4   genres             184037 non-null  object
 5   vote_average       232586 non-null  float64
 6   vote_count         232586 non-null  int64
 7   popularity         232586 non-null  float64
 8   original_language  232586 non-null  object
 9   overview           197645 non-null  object
 10  poster_url         202491 non-null  object
dtypes: float64(2), int64(2), object(7)
memory usage: 19.5+ MB

### Are there any missing values ?

In [15]:
# to get missing values 
df.isnull().sum() # returns the number of null values for each column

tmdb_id                  0
title                    3
original_title           3
release_date             0
genres               48549
vote_average             0
vote_count               0
popularity               0
original_language        0
overview             34941
poster_url           30095
dtype: int64

### How does the data looks like mathematically ?

In [17]:
df.describe() # returns the mathematical concepts like below for only numerical columns

            tmdb_id   vote_average     vote_count     popularity
count  2.325860e+05  232586.000000  232586.000000  232586.000000
mean   1.224994e+06       1.873746      11.192613       0.242106
std    2.430688e+05       3.207222     178.780945       1.610459
min    5.492000e+03       0.000000       0.000000       0.000000
25%    1.037223e+06       0.000000       0.000000       0.019300
50%    1.241156e+06       0.000000       0.000000       0.051000
75%    1.429952e+06       4.000000       1.000000       0.151500
max    1.638311e+06      10.000000   21575.000000     318.531700

### Are there any duplicates values ?

In [21]:
df.duplicated().sum() # there is no duplicate values in this dataset

np.int64(0)